// Start moving registration styles to this pattern

.registration-status {
  &.glyphicon-exclamation-sign {
    color: $danger;
  }

  &.glyphicon-remove-sign {
    color: $danger;
  }
}

#external_workflow_dropdown {
  display: none;
}
